img{
    width: 100%;
    height: 134px;
    margin: auto;
}

.card{
    border: none;
    text-align:center;
}
/* h5{
    font-size: 17px;
} */

.one-product{
    margin-bottom: 73px;
    border: 0;
    transition: all 0.15s ease-in-out;
    padding: 17px 0px;
}
.card-text{
    width: auto;
    text-align: center;
    border: none;
    color: #FF5722;
    padding: 8px;
    font-weight: 900;
    display: block;
}

.btn1,.plus,.minis{
  /* #4e54c8 */
    /* background-color: #fe696a; */
    color: #607D8B;
    border:none;
    outline:none;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}
.plus,.minis{
    width:20%;
}
.hide
{
    display:none
}
.plus,.quantity{
    display:inline-block
}
.quantity{
    width: 32%;
    text-align:center;
    border: 1px solid rgb(226, 224, 224);
    padding: 4px
}

.addToCart{
    width:70%;
    /* margin-left: 142px; */
  }


  .content{
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
  }

  

  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .content:hover .image {
    opacity: 0.3;
  }
  
  .content:hover .middle {
    opacity: 1;
  }
  
  .text {
    
    color: var(--white);
    font-size: 16px;
    padding: 8px 30px;
    background-color: var(--warning);
    border-radius: 25px;
    font-weight: 700;
  }
  a:hover{
      text-decoration: none;
      color: var(--white);
  }
.name-price{
    text-align: center;
}
  .one-product .p1{
    margin-top: 35px;
    font-weight: 600;
    font-size: 17px;
  }
  .one-product:hover{
    border-color: #fff !important;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
    z-index: 10;
  }

  .header-search{
 
      background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(/assets/search.jpg) no-repeat top center fixed;
      background-size: cover;
      /* animation: swing 15s infinite; */
      padding: 153px 10px;
      background-attachment: fixed;
      background-position: top center;
      text-align: center;
      color:white

  }

  .header-search h2{
    text-transform: uppercase;
    font-family: fantasy;
    color: #FF9800;
  }
  .header-search p{
    font-size: 18px;
  }
  .header-search button{
    background: black;
    color: white;
    border: none;
    padding: 10px;
    font-family: sans-serif;
  }